* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contanier {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcultor {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calcultor form input {
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, .1), 5px 5px 15px rgba(0, 0, 0, .2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    margin: 10px;

}

.calcultor form .Display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

.calcultor form .Display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    /* background-color: #fff; */
}

.calcultor form .equal {
    width: 140px;
}
.calcultor h2{
    text-align: center;
    margin-top: 15px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
